.each-book {
    width: 20%;

   img {
       width: 200px;
       height: 300px;
   };

   .title {
    font-weight: bold;
    font-size: 17px;
   }

   .author {
    font-size: 13px;
    color: darkgoldenrod;
   }

   .date {
    font-size: 12px;
    color: #696362;
   }
}